.address {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-left: 5.5%;
  padding-right: 5.5%;
}

.address__box {
  margin: 0 auto;
}

.address__box h2 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.3px;
  hyphens: auto;
  color: #222222;
}

.address__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 9px;
}

.address__button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.address__container {
  display: flex;
  justify-content: space-between;
}

.address__info {
  width: 325px;
  margin-left: 20px;
}

.address__item,
.address__button,
.address__taxi {
  position: relative;
  display: block;
  margin-bottom: 23px;

  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #222222;
  text-decoration: none;
}

.address__item {
  margin-top: 3px;
  margin-left: 30px;
}

.address__item--hover {
  &:hover,
  &:focus {
    color: #00aed6;
    cursor: pointer;
  }
}

.address__item span {
  position: absolute;
  top: -3px;
  left: -30px;
}

.address__item--scheme {
  margin-bottom: 18px;
}

.address__taxi {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;

  border: 1px solid #E0E0E0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.08);

  &:hover,
  &:focus {
    color: #00aed6;
  }
}

.address__taxi span {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -5px;
  margin-right: 8px;

  background-image: url("../img/icon-taxi.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.address--clothes {
  margin-top: -2px;
}

.address--page-shop {
  margin-top: -1px;
}

.address__title--way {
  display: none;
}

.address__list--way .address__button:first-child {
  display: none;
}

@media (max-width: $tablet-width) {

  .address {
    padding-left: 0;
    padding-right: 0;
  }

  .address__box {
    width: 100%;
    box-sizing: border-box;

    &--shops {
      width: 92%;
      margin-left: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .address__box h2 {
    padding-left: 24px;
  }

  .address__list {
    padding-left: 24px;
  }

  .address__container {
    display: block;
    width: 675px;
    margin: 0 auto;
  }

  .address__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
    margin-left: 0;

    &--shops {
      width: 79%;
    }
  }

  .address__map {
    margin-bottom: 24px;
  }

  .address__item {
    width: 260px;
  }

  .address__taxi {
    width: 450px;
    margin: 0 auto;
  }

  .address--clothes .address__box {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {

  .address {
    margin-bottom: 29px;
  }

  .address__box {
    width: 100%;
    margin-left: 0;
    padding-left: 0;

    &--shops {
      width: 92%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .address__title,
  .address__list {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  .address__title--shops,
  .address__list--shops {
    width: 100%;
    margin: 0;
  }

  .address__box h2 {
    margin-bottom: 16px;
    padding-left: 16px;

    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
  }

  .address__list {
    margin-bottom: 0;
  }

  .address__button {
    margin-bottom: 4px;
  }

  .address--clothes {
    margin-top: -44px;
    margin-bottom: 31px;
  }

  .address--clothes .address__map {
    margin-bottom: 22px;
  }

  .address__map img {
    width: 100%;
    height: auto;
  }

  .address__map {
    padding-right: 8px;
    box-sizing: border-box;
  }

  .address--clothes .address__map img {
    display: block;
    width: 352px;
    height: 169px;
    margin: 0 auto;
    margin-top: -4px;
  }

  .address__container {
    width: 100%;
    display: block;
  }

  .address__info {
    display: block;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  .address__map {
    margin-bottom: 14px;
  }

  .address__item {
    width: 84.3%;
    margin-left: 27px;
  }

  .address--clothes .address__item {
    margin-left: 31px;
  }

  .address--main .address__item {
    margin-left: 32px;
  }

  .address__taxi {
    width: 100%;
  }

  .address--shop {
    margin-top: 0;
  }


  .address--page-shop {
    margin-top: -44px;
    margin-bottom: 31px;
  }

  .address--page-shop .address__map {
    margin-top: -5px;
    margin-bottom: 16px;
  }

  .address--page-shop .address__item {
    margin-left: 31px;
  }

  .address--way {
    margin-bottom: 127px;
  }
}
