.adress {
  margin-bottom: 58px;
}

.adress__box {
  width: 1024px;
  margin: 0 auto;
}

.adress__box h2 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #222222;;
}

.adress__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.adress__button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.adress__container {
  display: flex;
  justify-content: space-between;
}

.adress__info {
  width: 325px;
}

.adress__item,
.adress__button,
.adress__taxi {
  position: relative;
  display: block;
  margin-bottom: 23px;

  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #222222;
  text-decoration: none;
}

.adress__button {
  margin-bottom: 8px;
}

.adress__item {
  margin-top: 3px;
  margin-left: 30px;
}

.adress__item span {
  position: absolute;
  top: -3px;
  left: -30px;
}

.adress__item--scheme {
  margin-bottom: 18px;
}

.adress__taxi {
  width: 100%;
  padding-left: 119px;
  padding-top: 20px;
  padding-bottom: 19px;

  border: 1px solid #E0E0E0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
}

.adress__taxi span {
  position: absolute;
  display: block;
  top: 16px;
  left: 85px;
  width: 24px;
  height: 24px;

  background-image: url("../img/icon-taxi.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

@media (max-width: $tablet-width) {

  .adress__box {
    width: 100%;
    margin-left: 24px;
  }

  .adress__container {
    display: block;
  }

  .adress__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
  }

  .adress__map {
    margin-bottom: 24px;
  }

  .adress__item {
    width: 260px;
  }

  .adress__taxi {
    width: 450px;
    margin: 0 auto;
    padding-left: 185px;
  }

  .adress__taxi span {
    left: 150px;
  }
}

@media (max-width: $mobile-width) {

  .adress {
    margin-top: -45px;
    margin-bottom: 29px;
  }

  .adress__box {
    width: 100%;
    margin-left: 0;
  }

  .adress__box h2,
  .adress__list {
    width: 316px;
    margin: 0 auto;
  }

  .adress__box h2 {
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
  }

  .adress__button {
    margin-bottom: 4px;
  }

  .adress__map img {
    width: 352px;
    height: 169px;
  }

  .adress__container {
    display: block;
  }

  .adress__info {
    display: block;
    width: 100%;
  }

  .adress__map {
    margin-bottom: 14px;
  }

  .adress__item {
    margin-left: 46px;
    width: 260px;
  }

  .adress__taxi {
    width: 328px;
    padding-left: 120px;
  }

  .adress__taxi span {
    left: 88px;
  }
}
