.banner {
  position: relative;
  width: 100%;
  height: 390px;
  padding-bottom: 75px;
  background-image: url("../img/banner-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -84px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/banner-desktop@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 409px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.1%);
  }

  @media (max-width: 1151px) {
    background-position-y: 0;
  }

  @media (max-width: $tablet-width) {
    height: 605px;
    background-image: url("../img/banner-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-mobile@2x.png");
    }
  }
}

.banner::after {
  content: "";
  position: absolute;
  bottom: -1px;
  z-index: 1;
  width: 100%;
  height: 75px;
  background-image: url("../img/wave-top.svg");
  background-repeat: repeat-x;
  background-size: auto 75px;
}

.banner__title {
  position: absolute;
  margin: 0;
  margin-left: 5.5%;
  padding: 0;
  padding-top: 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 108%;
  letter-spacing: 1px;
  color: #ffffff;
  hyphens: auto;

  @media (max-width: $tablet-width) {
    width: 300px;
    padding-top: 22px;
    font-size: 36px;
    line-height: 108%;
    letter-spacing: -0.01em;
  }
}

.banner__title span {
  display: block;

  @media (max-width: $tablet-width) {
    &:last-of-type {
      display: none;
    }
  }
}

.banner__image {
  width: 100%;
}
