.button {
  display: block;

  padding: 8px 10px 8px 10px;

  font-family: "MuseoSansCyrl", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: $main-color;
  text-decoration: none;

  background-color: transparent;

  border: 0.5px solid #e0e0e0;
  border-radius: 5px;

  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #00aed6;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  &:active {
    color: #00aed6;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  &:focus {
    color: #00aed6;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  &:hover span {
    color: #00aed6;
  }

  &:active span {
    color: #00ade6;
  }

  &:focus span {
    color: #00ade6;
  }
}

.button span {
  display: inline-block;
  margin-left: 4px;

  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.05em;
  color: #e0e0e0;
  text-transform: uppercase;
}

.button--shops {
  padding-left: 11px;
  padding-bottom: 6px;

  &:hover {
    color: #65aa0f;
  }

  &:active {
    color: #65aa0f;
  }

  &:focus {
    color: #65aa0f;
  }

  &:hover span {
    color: #65aa0f;
  }

  &:active span {
    color: #65aa0f;
  }

  &:focus span {
    color: #65aa0f;
  }
}

.button--more {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  padding: 23px 0 15px 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: #222222;
  text-align: center;

  background: #ffffff;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.08);
  border: none;
}

.button--more span {
  margin-right: 10px;
  fill: #00aed6;
}

.button--cinema {
  margin-top: 7px;
  padding-left: 11px;
  padding-right: 11px;
}

.button--page-shop {
  color: #7d7d7d;
}

.button--film {
  display: none;
}

@media (max-width: $tablet-width) {
  .button--more {
    display: none;
    padding-top: 10px;
    padding-bottom: 16px;
  }

  .button--more span {
    line-height: 8px;
  }

  .button--cinema {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 15px;
  }

  .button--cinema:hover b {
    color: $text-color;
  }

  .button--cinema b {
    font-weight: 600;
    font-size: 16px;
    text-transform: inherit;
    line-height: 108%;
    color: #00aed6;
  }
}

@media (max-width: $mobile-width) {
  .button--more {
    width: 100%;
  }

  .button--film {
    display: block;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 20px;

    font-weight: 600;
    color: #00aed6;
    text-align: center;
  }

  .button--cinema {
    padding-top: 5px;
    margin-bottom: -6px;
  }
}
