.card {
  position: relative;
  display: flex;
  flex-direction: column;

  width: calc(33% - (22px * 2/3));
  min-height: 545px;

  padding-bottom: 23px;

  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.04em;
  color: #222222;

  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.08);
  }
}

.card img {
  display: block;
  width: 325px;
  height: 325px;
  margin-bottom: 24px;
}

.card h3 {
  width: 275px;
  margin: 0 auto;
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 23px;
  letter-spacing: -0.01em;
  hyphens: auto;
}

.card__hit {
  position: absolute;
  top: 5px;
  left: 24px;

  width: 41px;
  height: 27px;
  padding-top: 7px;

  color: #ffffff;
  text-align: center;

  background-color: #AA0061;
  border-radius: 5px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.card b {
  position: relative;
  width: 136px;
  margin-left: 24px;
  padding: 8px 0 6px 22px;

  font-weight: 500;
  color: #65AA0F;
  text-transform: uppercase;

  border: 0.5px solid #65AA0F;
  border-radius: 5px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 8px;

    width: 6px;
    height: 6px;

    background-color: transparent;
    border: 1px solid #65AA0F;
    border-radius: 50%;
  }
}

.card__case {
  margin-top: auto;
}

.card__box {
  display: flex;

  max-width: 275px;

  margin: 0 auto;
  margin-bottom: 9px;
}

.card__box:last-child {
  margin-bottom: 0;
}

.card__link:hover {
  opacity: 0.5;
}

.card__box span {
  margin-top: -3px;
  margin-right: 8px;
}

.card__box p {
  margin: 0;
  text-transform: uppercase;
}

.card__box a {
  display: block;
  width: 19px;
  height: 8px;
  margin-left: auto;
}

.card__clock,
.card__floor {
  fill: #7D7D7D;
}

.card__arrow {
  fill: #00AED6;
}

.card--shops {
  width: calc(25% - (24px * 3/4));
  min-height: 458px;
  padding-bottom: 21px;
}

.card--shops h3 {
  width: 188px;
}

.card--shops img {
  width: 238px;
  height: 238px;
}

.card--shops .card__box {
  width: 188px;
}

.card__list {
  display: flex;
  width: 188px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 4px;
}

.card__list p {
  padding: 7px 8px;
  margin-right: 8px;

  font-weight: 600;
  text-transform: uppercase;
  color: #AA0061;

  border: 0.5px solid #AA0061;
  border-radius: 5px;
}

.card__items ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  width: 188px;
  margin: 0 auto;
  padding: 0;
}

.card__items li {
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}

.card__items li:first-child .card__point {
  content: "";
  position: absolute;
  top: 4px;
  right: -5px;

  width: 4px;
  height: 4px;

  background-color: #CC0000;
  border-radius: 50%;
}

.card__items li:nth-child(3n) {
  margin-right: 0;
}

.card--cinema {
  width: calc(25% - (24px * 3/4));
  min-height: 518px;
  padding-bottom: 13px;
}

.card--cinema span {
  width: 185px;
  margin: 0 auto;
  font-weight: 600;
  text-transform: uppercase;
  color: #7D7D7D;
}

.card--cinema h3 {
  width: 185px;
  font-weight: 500;
}

.card--cinema img {
  width: 238px;
  height: 238px;
}

.card--services {
  width: calc(25% - (24px * 3/4));
  min-height: 220px;
  padding-top: 26px;

  // @media (max-width: 1100px) {
  //   width: 230px;
  // }
}

.card--services h3 {
  width: 180px;
}

.card--services b {
  width: 107px;
}

.card--services .card__box {
  max-width: 188px;
}

.card--clothes {
  width: 100%;
  min-height: 458px;
  padding-bottom: 21px;

  border: 1px solid #E0E0E0;

  &:hover {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  }
}

.card--clothes h3 {
  width: 188px;
}

.card--clothes img {
  width: 238px;
  height: 238px;
}

.card--clothes .card__box {
  margin: 0 auto;
  margin-bottom: 0;
  max-width: 188px;
}

.card__discount {
  display: none;
}

@media (max-width: $tablet-width) {

  .card {
    width: 325px;
  }

  .card--shops {
    width: 238px;
  }

  .card--clothes {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {

  .card {
    width: 220px;
    min-height: 440px;
    padding-bottom: 13px;
    overflow: hidden;
  }

  .card__hit {
    top: 6px;
    left: 16px;
  }

  .card img {
    width: 220px;
    height: 220px;
    margin-bottom: 16px;
  }

  .card--cinema {
    padding-bottom: 4px;
  }

  .card--cinema img {
    margin-bottom: 19px;
  }

  .card h3 {
    width: 188px;
  }

  .card b {
    margin-left: 16px;
  }

  .card__box {
    max-width: 188px;

    margin-top: auto;
  }

  .card__items ul {
    margin-left: 16px;
  }

  .card--cinema {
    min-height: 500px;
  }

  .card--cinema span {
    margin-left: 16px;
    margin-bottom: 3px;
  }

  .card--services {
    min-height: 220px;
    padding-top: 16px;
    padding-bottom: 0;
  }

  .card--clothes {
    width: 156px;
    min-height: 188px;
    padding-bottom: 7px;

    border: 1px solid #E0E0E0;

    &:hover {
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
    }
  }

  .card--clothes h3 {
    display: none;
  }

  .card--clothes img {
    width: 156px;
    height: 156px;
    margin-bottom: 0;
  }

  .card--clothes b {
    display: none;
  }

  .card--clothes .card__case {
    margin-top: 0;
    border-top: 1px solid #E0E0E0;
  }

  .card--clothes .card__box {
    display: none;
  }

  .card__discount {
    display: flex;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 8px;
    padding-top: 9px;

    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #222222;
    box-sizing: border-box;
  }

  .card__discount p {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .card__discount p span {
    position: absolute;
    top: -2px;
    left: -20px;
  }

  .card__discount p:nth-child(2) {
    color: #65AA0F;
  }
}
