.cinema-menu {
  width: 44%;
  margin-bottom: 42px;
  margin-right: 7%;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.cinema-menu__item--height {
  line-height: 18px;
}

.cinema-menu__link:hover,
.cinema-menu__link:focus {
  color: #00aed6;
}
