.cinema {
  padding-left: 5.5%;
  padding-right: 5.5%;
}

.cinema__box {
  max-width: 1024px;
  margin: 0 auto;
}

.cinema__new {
  display: none;
}

.cinema__items {
  display: flex;
  flex-wrap: wrap;
}

.cinema__row {
  margin-left: -12px;
  margin-right: -12px;
}

.cinema__column {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.cinema__item {
  width: 100%;
}

.cinema__column .card__box {
  display: none;
}

@media (max-width: $tablet-width) {
  .cinema__column {
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }

  .cinema__column .cinema__item {
    min-height: 100%;
  }

  .cinema__column:nth-child(5),
  .cinema__column:nth-child(6) {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .cinema {
    padding-left: 16px;
    padding-right: 16px;
  }

  .cinema__row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .cinema__column {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 372px;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }

  .cinema__column .cinema__item {
    min-height: 100%;
  }

  .cinema__column:nth-child(4),
  .cinema__column:nth-child(3) {
    display: none;
  }

  .cinema__column .cinema__item span {
    display: none;
  }

  .cinema__column .card__items li:first-child .card__point {
    display: block;
    top: 4px;
    left: 20px;
  }

  .cinema__column .card__list {
    display: none;
  }

  .cinema__column h3 {
    width: 85%;
    margin: 0;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    box-sizing: border-box;
  }

  .cinema__column img {
    margin-bottom: 8px;
  }

  .cinema__column .card__items {
    margin-top: auto;
  }

  .cinema__column ul {
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 6px;
  }

  .cinema__column li {
    flex: 0 0 33%;
    margin-right: 0;

    &:nth-child(3n) {
      padding-right: 8px;
      text-align: end;
      box-sizing: border-box;
    }

    &:nth-child(3n + 2) {
      text-align: center;
    }
  }

  .cinema__column .card__box {
    display: flex;
    min-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .cinema__column .card__point {
    display: block;
  }

  .cinema__column:nth-child(7) {
    order: 2;
  }

  .cinema__column:nth-child(8) {
    order: 1;
  }

  .cinema__hidden {
    display: none;
  }

  .cinema__new {
    display: block;
  }

  .cinema .button--cinema {
    margin-top: 0;
  }
}
