.date {
  position: relative;
  margin-bottom: 32px;
  padding-left: 5.5%;
  padding-right: 5.5%;

  @media (max-width: $mobile-width) {
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
  }
}

.date__title {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 34px;
  padding: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 108%;
  letter-spacing: 0;
  color: $text-color;

  @media (max-width: $tablet-width) {
    max-width: 70%;
    margin-top: 16px;
    font-size: 48px;
    line-height: 92%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 14px;
  }
}

.date__image {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 5.5%;
  }

  @media (max-width: $mobile-width) {
    right: 16px;
  }
}

.date__box {
  max-width: 1024px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.date__info {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }
}

.date__info span {
  margin-right: 8px;
}

.date__info svg {
  @media (max-width: $tablet-width) {
    fill: #7d7d7d;
  }
}

.date__info a:hover svg {
  @media (max-width: $tablet-width) {
    fill: #ffffff;
  }
}

.date__list {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  display: flex;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding-right: 0;
    // padding-left: 24px;
  }

  // @media (max-width: $mobile-width) {
  //   padding-left: 16px;
  // }
}

.date__link {
  margin-right: 9px;
  padding: 6px 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 96%;
  text-decoration: none;
  color: $text-color;
  border: 1px solid $border;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #00aed6;
  }

  @media (max-width: $mobile-width) {
    color: #ffffff;
    padding: 8px 10px;
  }
}

.date__link:hover span {
  @media (max-width: $tablet-width) {
    color: #7d7d7d;
  }
}

.date__span {
  margin-left: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 151%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7d7d7d;

  @media (max-width: $mobile-width) {
    color: #e0e0e0;
  }
}
