.entertainment-menu {
  margin-bottom: 41px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.entertainment-menu--sitemenu {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.entertainment-menu__link:hover,
.entertainment-menu__link:focus {
  color: #65aa0f;
}
