.events {
  z-index: 1;
  margin-bottom: 63px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.events__box {
  max-width: 1024px;
  margin: 0 auto;
}

.events h2 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.3px;
  color: #ffffff;
  hyphens: auto;
}

.events h2 span:last-child {
  display: none;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.events__button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.events__items {
  display: flex;
  flex-wrap: wrap;
}

.events__item {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    .slick-track {
      transform: initial!important;
      width: auto!important;
    }
  }
}

.events__item:nth-child(3n+2) {
  margin-left: 24px;
  margin-right: 25px;
}

.events--shop {
  margin-bottom: 40px;
}

.events--shop .events__box {
  padding-top: 0;
}

.events--shop .card {
  border: 1px solid #E0E0E0;
}

.events--shop h2 {
  margin-bottom: 25px;
  color: #222222;
}

.events--shop .card:hover {
  background-color: #00AED6;
  border: 1px solid #ffffff;
  box-shadow: none;
}

.events--shop .card:hover h3,
.events--shop .card:hover b,
.events--shop .card:hover p {
  color: #ffffff;
}

.events--shop .card:hover b {
  border: 0.5px solid #ffffff;

  &::before {
    border: 0.5px solid #ffffff;
  }
}

.events--shop .card:hover .card__clock {
  fill: #ffffff;
}

@media (max-width: $tablet-width) {

  .events {
    padding-right: 0;
    padding-left: 0;
  }

  .events__box {
    width: 100%;
  }

  .events h2 {
    margin-left: 24px;
  }

  .events h2 span:last-child {
    display: inline;
  }
  .events h2 span:first-child {
    display: none;
  }

  .events__list {
    margin-left: 24px;
  }

  .events__items {
    margin-left: 24px;
  }

  .events__item {
    width: 325px;
    margin-left: 24px;
  }

  .events__item .slick-slide {
    width: 325px;
    outline: none;
  }
}

@media (max-width: $mobile-width) {

  .events {
    margin-bottom: 28px;
  }

  .events h2 {
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .events__button {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .events__list {
    margin-left: 16px;
    margin-bottom: 11px;
  }

  .events__items {
    margin-left: 16px;
  }

  .events__item {
    width: 220px;
    margin-left: 16px;
  }

  .events__item:nth-child(3n+2) {
    margin-left: 16px;
    margin-right: 0;
  }

  .events__item .slick-slide {
    width: 220px;
  }

  .events--shop {
    margin-bottom: 26px;
  }

  .events--shop h2 {
    font-size: 36px;
    line-height: 39px;
  }

  .events--shop {
    margin-bottom: 26px;
  }
}
