.feedback {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-left: 5.5%;
  padding-right: 5.5%;

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 4%;
    padding-right: 4%;
  }
}

.feedback h2 {
  margin: 0;
  margin-top: 36px;
  margin-bottom: 27px;
  padding: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 108%;
  letter-spacing: 0.6px;
  hyphens: auto;
  color: $text-color;

  @media (max-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 18px;
    font-size: 36px;
  }
}

.feedback__paragraph {
  width: 495px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 116%;
  color: #7d7d7d;

  @media (max-width: $tablet-width) {
    width: auto;
    margin-bottom: 28px;
  }
}

.feedback__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__item {
  margin-right: 38px;
  display: flex;
  align-items: center;

  &:last-of-type {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 27px;
  }
}

.feedback__link {
  position: relative;
  padding-left: 32px;
  font-size: 16px;
  line-height: 108%;
  text-decoration: none;
  color: $text-color;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.feedback__link--phone::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__link--clock::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-clock.svg");
  background-repeat: no-repeat;
  background-position: center;
}
