.fitness {
  margin-bottom: 71px;
}

.fitness h2 {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.fitness h2 span:last-child {
  display: none;
}

.fitness__box {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

.fitness__slider {
  margin-bottom: -30px;
}

.fitness__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 238px;
  margin-left: 12px;
  padding-top: 27px;
  padding-bottom: 15px;
}

.fitness__description p {
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}

.fitness__container {
  display: flex;
  justify-content: space-between;
}

.fitness__container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fitness__container li {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #FFFFFF;
}

.fitness__arrow {
  margin-top: 67px;
  fill: #FFFFFF;

  &:hover {
    opacity: 0.5;
  }
}

.fitness__mask1 {
  -webkit-clip-path: url(#svgPath-desktop1);
  clip-path: url(#svgPath-desktop1);
}

.fitness__mask2 {
  -webkit-clip-path: url(#svgPath-desktop2);
  clip-path: url(#svgPath-desktop2);
}

@media (max-width: $tablet-width) {

  .fitness h2 {
    width: 100%;
    padding-left: 24px;
    box-sizing: border-box;
  }

  .fitness__box {
    display: block;
    max-width: 100%;
    padding-right: 0;
  }

  .fitness__description {
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }

  .fitness__description p {
    width: 300px;
  }

  .fitness__container {
    width: 300px;
  }
}

@media (max-width: $mobile-width) {

  .fitness {
    margin-bottom: 16px;
  }

  .fitness h2 {
    padding-left: 16px;
    margin-bottom: 9px;
  }

  .fitness h2 span:first-child {
    display: none;
  }

  .fitness h2 span:last-child {
    display: inline;
  }

  .fitness__slider {
    margin-bottom: 0;
  }

  .fitness__description {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .fitness__text {
    width: 50%;
    padding-right: 20px;
  }

  .fitness__container {
    flex-direction: column;
    max-width: 138px;
  }

  .fitness__link {
    align-self: flex-end;
  }

  .fitness__mask1 {
    -webkit-clip-path: url(#svgPath-mobile1);
    clip-path: url(#svgPath-mobile1);
  }

  .fitness__mask2 {
    -webkit-clip-path: url(#svgPath-mobile2);
    clip-path: url(#svgPath-mobile2);
  }
}
