.fitness-menu {
  position: relative;
  width: 100%;
  margin-bottom: 51px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.fitness-menu__title span {
  margin-left: 45px;
  font-size: 12px;
  font-weight: 600;
  line-height: 108%;
  letter-spacing: 0.04em;
}

.fitness-menu__icon {
  position: absolute;
  top: 6px;
  right: 21px;
  font-weight: 600;
  font-size: 12px;
  line-height: 108%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -38px;
    width: 19px;
    height: 8px;
    background-image: url("../img/icon-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.fitness-menu__icon svg {
  fill: $complementary-color;
}

.fitness-menu__paragraph {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  font-size: 14px;
  font-weight: 300;
  line-height: 118%;
  color: #7d7d7d;
}
