.fitness {
  position: relative;
  margin-bottom: 71px;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      top: 260px;
      left: 0;
      width: 100%;
      height: 300px;

      background-image: url("../img/background-slider-mobile.svg");
      background-repeat: repeat-x;

      z-index: 0;
    }
  }
}

.fitness h2 {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.fitness h2 a {
  color: #ffffff;
  text-decoration: none;
}

.fitness h2 span:last-child {
  display: none;
}

.fitness__box {
  position: relative;
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.fitness__slider {
  margin-bottom: -30px;
}

.fitness__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 238px;
  margin-left: 12px;
  padding-top: 27px;
  padding-bottom: 15px;
}

.fitness__description a {
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;

  text-decoration: none;
}

.fitness__container {
  display: flex;
  justify-content: space-between;
}

.fitness__container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fitness__container li a {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;

  text-decoration: none;
}

.fitness__link {
  display: flex;
  align-items: flex-end;
}

.fitness__arrow {
  margin-top: 67px;
  fill: #ffffff;

  &:hover {
    opacity: 0.5;
  }
}

/* stylelint-disable property-no-vendor-prefix */
.fitness__mask1 {
  width: 390px;
  height: 404px;
  -webkit-clip-path: url("#svgPath-desktop1");
  clip-path: url("#svgPath-desktop1");
}

.fitness__mask2 {
  width: 433px;
  height: 404px;
  -webkit-clip-path: url("#svgPath-desktop2");
  clip-path: url("#svgPath-desktop2");
}
/* stylelint-enable property-no-vendor-prefix */

@media (max-width: $tablet-width) {
  .fitness h2 {
    width: 100%;
    padding-left: 24px;
    box-sizing: border-box;
  }

  .fitness__box {
    display: block;
    max-width: 100%;
    padding-right: 0;
  }

  .fitness__description {
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }

  .fitness__description p {
    width: 300px;
  }

  .fitness__container {
    width: 300px;
  }
}

@media (max-width: $mobile-width) {
  .fitness {
    margin-bottom: 49px;
  }

  .fitness h2 {
    padding-left: 16px;
    margin-bottom: 9px;
  }

  .fitness h2 span:first-child {
    display: none;
  }

  .fitness h2 span:last-child {
    display: inline;
  }

  .fitness__slider {
    margin-bottom: 0;
  }

  .fitness__description {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .fitness__description p {
    flex-basis: 54%;
  }

  .fitness__text {
    width: 50%;
  }

  .fitness__container {
    flex-direction: column;
    max-width: 138px;
  }

  .fitness__link {
    align-self: flex-end;
  }

  /* stylelint-disable property-no-vendor-prefix */
  .fitness__mask1 {
    width: 242px;
    height: 327px;
    -webkit-clip-path: url("#svgPath-mobile1");
    clip-path: url("#svgPath-mobile1");
  }

  .fitness__mask2 {
    width: 350px;
    height: 327px;
    -webkit-clip-path: url("#svgPath-mobile2");
    clip-path: url("#svgPath-mobile2");
  }
  /* stylelint-enable property-no-vendor-prefix */
}
