.info {
  padding-bottom: 136px;

  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: #222222;

  &--shops {
    padding-bottom: 0;
  }
}

.info__box {
  width: 1024px;
  margin: 0 auto;
}

.info__box h2 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.3px;
  hyphens: auto;
}

.info__box p {
  width: 505px;
  margin: 0;
  margin-bottom: 19px;

  font-size: 16px;
  line-height: 19px;
  color: #7d7d7d;
}

.info__form {
  display: flex;
  margin-bottom: 16px;
}

.info__form input {
  width: 349px;
  padding-top: 19px;
  padding-bottom: 17px;
  padding-left: 16px;

  border: 1px solid $border;
  border-radius: 5px 0 0 5px;

  box-sizing: border-box;

  &::placeholder {
    color: #7d7d7d;
  }
}

.info__button {
  width: 238px;
  padding-top: 20px;
  padding-bottom: 18px;

  color: #ffffff;

  background-color: #00aed6;
  border: none;
  border-radius: 0 5px 5px 0;

  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.info__container {
  display: flex;
  justify-content: space-between;
}

.info__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 325px;
}

.info__icon {
  margin-bottom: 16px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.info__icon--fb,
.info__icon--vk,
.info__app {
  width: 154px;
  height: 56px;

  border-radius: 5px;
}

.info__icon--fb {
  background-color: #3c5a99;
}

.info__icon--vk {
  background-color: #5181b8;
}

.info__fb,
.info__vk,
.info__od {
  fill: #ffffff;
}

.info__fb {
  margin-left: 68px;
  margin-top: 10px;
}

.info__vk {
  margin-left: 51px;
  margin-top: 12px;
}

.info__icon--inst,
.info__icon--od,
.info__icon--youtube {
  width: 98px;
  height: 56px;

  border-radius: 5px;
}

.info__icon--inst {
  background: radial-gradient(179.06% 43.44% at -16.75% 7.2%, #3771c8 0%, #3771c8 12.8%, rgba(102, 0, 255, 0) 100%), radial-gradient(92.18% 99.11% at 26.56% 107.7%, #ffdd55 0%, #ffdd55 10%, #ff543e 50%, #c837ab 100%), #d73576;
}

.info__icon--od {
  background-color: #f7931e;
}

.info__icon--youtube {
  background-color: #ff0000;
}

.info__inst {
  margin-left: 30px;
  margin-top: 10px;
}

.info__youtube {
  margin-left: 25px;
  margin-top: 13px;

  stroke: #ff0000;
  fill: #ffffff;
}

.info__od {
  margin-left: 40px;
  margin-top: 9px;
}

.icon-youtube-play {
  fill: #ff0000;
}

.info__app {
  background-color: #000000;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.info__app--apple {
  background-image: url("../img/icon-apple-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 107px 27px;
}

.info__app--android {
  background-image: url("../img/icon-google-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 116px 28px;
}

.info__notes {
  display: flex;
  margin-bottom: 65px;
  margin-top: -104px;
}

.info__notes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info__notes li {
  margin-bottom: 16px;
}

.info__notes a {
  font-family: "MuseoSansCyrl", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: #222222;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.info__articles a {
  font-weight: 600;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.info__menu {
  margin-left: 118px;
}

.info__copyright {
  padding-left: 64px;
  padding-right: 64px;
}

.info b {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {

  .info__box {
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;

    &--shops {
      width: 92%;
      margin-left: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .info__container {
    display: block;
  }

  .info__notes {
    margin-top: 0;
  }

  .info__social {
    margin-bottom: 24px;
  }

  .info__copyright {
    padding-left: 30px;
    padding-right: 30px;
  }

  .info--clothes .info__box {
    max-width: 768px;
    margin: 0 auto;
  }

  .info b {
    max-width: 768px;
  }
}

@media (max-width: $mobile-width) {

  .info__box {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .info__box--shops {
    padding-left: 16px;
    padding-right: 16px;
  }

  .info__box h2 {
    width: 100%;
    margin-bottom: 8px;

    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
  }

  .info__box p {
    width: 100%;

    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  .info__form {
    display: block;
    width: 100%;
    margin-bottom: 21px;
  }

  .info__form input {
    width: 100%;
    padding-left: 0;
    border-radius: 5px 5px 0 0;

    &::placeholder {
      font-weight: 600;
      font-size: 24px;
      line-height: 23px;
      letter-spacing: -0.01em;
      text-align: center;
    }
  }

  .info__button {
    width: 100%;
    padding-bottom: 15px;

    font-weight: 600;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: -0.01em;

    border-radius: 0 0 5px 5px;
  }

  .info__articles {
    width: 154px;
  }

  .info__menu {
    margin-left: 18px;
  }

  .info__box b {
    display: block;
    width: 100%;
    text-align: center;
  }

  .info__social {
    width: 100%;
    margin-bottom: 49px;
  }

.info__icon--fb,
.info__icon--vk,
.info__app {
  width: 47.6%;
  height: 56px;
}

.info__fb {
  margin-left: calc((100% - 19px) / 2);
}

.info__vk {
  margin-left: calc((100% - 54px) / 2);
}

.info__icon--inst,
.info__icon--od,
.info__icon--youtube {
  width: 30.2%;
}

.info__inst {
  margin-left: calc((100% - 36px) / 2);
}

.info__youtube {
  margin-left: calc((100% - 46px) / 2);
}

.info__od {
  margin-left: calc((100% - 21px) / 2);
}

  .info__notes {
    margin-bottom: 30px;
  }

  .info b {
    display: block;
    width: 100px;
    margin: 0 auto;

    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .info__copyright {
    padding-left: 16px;
    padding-right: 16px;
  }

  .info--clothes .info__box {
    max-width: 328px;
  }
}
