.map-menu {
  width: 100%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.map-menu__link:hover,
.map-menu__link:focus {
  color: #00aed6;
}

.map-menu__link--taxi {
  position: relative;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-taxi.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.map-menu__image {
  position: relative;
  left: 50%;
  margin-left: -576px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
