.map-menu {
  width: 100%;
}

.map-menu__link:hover,
.map-menu__link:focus {
  color: #00aed6;
}

.map-menu__link--taxi {
  position: relative;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -30px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-taxi.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
