.map-menu {
  width: 100%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.map-menu__link:hover,
.map-menu__link:focus {
  color: #00aed6;
}

.map-menu__link--taxi {
  position: relative;
  font-weight: 600;
}

.map-menu__link--taxi span {
  position: absolute;
  display: block;
  top: -4px;
  left: -30px;
  width: 24px;
  height: 24px;

  background-image: url("../img/icon-taxi.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.map-menu__image {
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
