.menu {
  width: 1024px;
  margin: 0 auto;
  margin-top: 43px;
  padding-left: 5.5%;
  padding-right: 5.5%;

  @media (max-width: 1151px) {
    width: 88.9%;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    margin-top: 65px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.menu--sitemenu {
  @media (max-width: $tablet-width) {
    margin-top: 30px;
  }
}

.menu__wrapper {
  width: 47%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.menu__section-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.menu__inner-wrapper {
  display: flex;
}

.menu__links {
  text-decoration: none;
}

.menu__links h3 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: -0.01em;
  text-decoration: none;
  hyphens: auto;
  color: $text-color;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    line-height: 165%;
    color: #ffffff;
  }
}

.menu__links--sitemenu h3 {
  @media (max-width: $tablet-width) {
    color: $text-color;
  }
}

.menu__list {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  list-style: none;

  &:first-of-type {
    width: 205px;
    margin-right: 30px;
  }

  &:last-of-type {
    width: 241px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.menu__list--sitemenu {
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.menu__item {
  margin-bottom: 4px;
}

.menu__item--sitemenu {
  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.menu__item--height {
  line-height: 18px;
}

.menu__link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 108%;
  text-decoration: none;
  color: $text-color;
}

.menu__span {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 128%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #7d7d7d;

  &--hit {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 128%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #aa0061;
  }
}
