.page-main {
  position: relative;
  overflow: hidden;
}

.page-main__backgrounds {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 6642px;
  z-index: -1;

  @media (max-width: $tablet-width) {
    height: 100%;
  }
}
