.page-clothes {
  margin-top: 36px;
  margin-bottom: 79px;
  padding-left: 5.5%;
  padding-right: 5.5%;
}

.page-clothes__box {
  max-width: 1024px;
  margin: 0 auto;
}

.page-clothes h2 {
  position: relative;
  width: 590px;
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 64px;
  line-height: 69px;
  letter-spacing: 0.3px;
  hyphens: auto;
  color: #222222;
}

.page-clothes__box h2 sup {
  position: absolute;
  top: 0;
  left: 587px;
  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: -0.01em;
  color: #00aed6;
}

.page-clothes__items {
  display: flex;
  flex-wrap: wrap;
}

.page-clothes__column {
  width: calc(25% - (24px * 3 / 4));
  margin-right: 24px;
}

.page-clothes__column:nth-child(4n) {
  margin-right: 0;
}

.page-clothes__item {
  margin-bottom: 24px;
}

.page-clothes__sale {
  display: none;
}

.page-clothes__button {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding-top: 20px;

  &:hover {
    border: 1px solid #e0e0e0;
  }
}

.page-clothes__button i {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-clothes__box {
    max-width: 768px;
  }

  .page-clothes__item {
    margin-right: 24px;
    margin-bottom: 24px;
  }

  .page-clothes__column {
    width: calc(33% - (22px * 2 / 3));
    margin-right: 24px;
  }

  .page-clothes__column:nth-child(4n) {
    margin-right: 24px;
  }

  .page-clothes__column:nth-child(3n) {
    margin-right: 0;
  }

  .page-clothes__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 14px;
  }
}

@media (max-width: $mobile-width) {
  .page-clothes {
    margin-top: 23px;
    margin-bottom: 95px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .page-clothes__box {
    max-width: 100%;
  }

  .page-clothes h2 {
    width: 100%;
    margin-bottom: 23px;

    font-size: 48px;
    line-height: 44px;
  }

  .page-clothes__item img {
    width: 100%;
    height: auto;
  }

  .page-clothes__sale {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 16px;

    font-family: "MuseoSansCyrl", "Arial", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #65aa0f;

    background-color: transparent;
    border: 1px solid #65aa0f;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.08);
    }
  }

  .page-clothes__sale span {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .page-clothes__box h2 sup {
    position: absolute;
    top: 0;
    left: 433px;

    font-size: 16px;
    line-height: 17px;

    @media (max-width: 483px) {
      left: 200px;
      top: 49px;
    }
  }

  .page-clothes__button b {
    display: none;
  }

  .page-clothes__button i {
    display: inline;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #00aed6;
  }

  /*Новые стили*/

  .page-clothes__row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    flex-wrap: wrap;
  }

  .page-clothes__column {
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;

    @media (max-width: 359px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .page-clothes__column:nth-child(4n) {
    margin-right: 0;
  }

  .page-clothes__column:nth-child(11),
  .page-clothes__column:nth-child(12) {
    display: none;
  }

  .page-clothes__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
