.page-shop {
  padding-top: 43px;
}

.page-shop__box {
  display: flex;
  justify-content: space-between;
  max-width: 1056px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;

  &:first-child {
    margin-bottom: -36px;
  }
}

.page-shop__box--logo {
  margin-bottom: 24px;
}

.page-shop__box h2 {
  width: 659px;
  margin: 0;
  margin-bottom: 16px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -0.01em;
  hyphens: auto;
  color: #222222;
}

.page-shop__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.page-shop__button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.page-shop__slider {
  margin-bottom: -1px;
}

.page-shop__container {
  width: 611px;
}

.page-shop__container p {
  margin: 0;
  margin-bottom: 19px;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.page-shop__logo {
  position: relative;
  margin-top: -110px;
}

.page-shop__brand {
  display: none;
}

.page-shop__mask1 {
  -webkit-clip-path: url(#page-shop-desktop1);
  clip-path: url(#page-shop-desktop1);
}

.page-shop__mask2 {
  -webkit-clip-path: url(#page-shop-desktop2);
  clip-path: url(#page-shop-desktop2);
}

.page-shop--cinema h2 {
  width: 640px;
  letter-spacing: 0;
}

.page-shop--cinema .page-shop__box:first-child {
  margin-bottom: -100px;
}

.page-shop--cinema .page-shop__slider {
  margin-bottom: -24px;
}

.page-shop--cinema .page-shop__logo {
  margin-top: -118px;
}

.page-shop--cinema .page-shop__box--logo {
  margin-bottom: 19px;
}

@media (max-width: $tablet-width) {

  .page-shop__box {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;

    &:first-child {
      position: relative;
      display: block;
      margin-bottom: 40px;
    }
  }

  .page-shop__brand {
    display: block;
    position: absolute;
    top: 0;
    right: 16px;
  }

  .page-shop__container {
    width: 100%;
  }

  .page-shop__logo {
    display: none;
  }

  .page-shop--cinema .page-shop__info {
    display: none;
  }

  .page-shop--cinema .page-shop__box:first-child {
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width) {

  .page-shop {
    padding-top: 13px;
  }

  .page-shop--cinema {
    padding-top: 49px;
  }

  .page-shop .store--shop {
    margin-bottom: 70px;
  }

  .page-shop__box {
    padding-left: 16px;
    padding-right: 16px;

    &:first-child {
      margin-bottom: 21px;
    }
  }

  .page-shop__box h2 {
    width: 70.7%;
    margin-bottom: 8px;

    font-size: 36px;
    line-height: 39px;
    word-wrap: break-word;
  }

  .page-shop--cinema h2 {
    width: 100%;
  }

  .page-shop--cinema .page-shop__slider {
    margin-bottom: 0;
  }

  .page-shop--cinema .page-shop__box--logo {
    margin-bottom: 31px;
}

  .page-shop__list {
    margin-bottom: 5px;
  }

  .page-shop__button:last-child {
    display: none;
  }

  .page-shop__slider {
    margin-bottom: -8px;
  }

  .page-shop__box--logo {
    width: 100%;
    margin-bottom: 11px;
    padding-left: 16px;
    padding-right: 18px;
  }

  .page-shop__container p {
    width: 100%;
    margin-bottom: 17px;

    font-size: 14px;
    line-height: 17px;
  }

  .page-shop__mask1 {
    -webkit-clip-path: url(#page-shop-mobile1);
    clip-path: url(#page-shop-mobile1);
  }

  .page-shop__mask2 {
    -webkit-clip-path: url(#page-shop-mobile2);
    clip-path: url(#page-shop-mobile2);
  }
}
