.pagination-menu {
  position: relative;
  padding-right: 5.5%;
  padding-left: 5.5%;

  @media(min-width: $tablet-width + 1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media(max-width: $tablet-width) {
    padding-right: 0;
    padding-left: 4%;
  }
}

.pagination-menu--border {
  border-bottom: 1px solid $border;

  @media(max-width: $tablet-width) {
    border: none;
  }
}

.pagination-menu__search-form {
  width: 75%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    z-index: 1;
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.pagination-menu__search-form--scheme {
  @media (max-width: $tablet-width) {
    height: 56px;
  }
}

.pagination-menu__search-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 33px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:last-of-type {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
    border-radius: 0;
    box-shadow: none;
    outline: none;
  }

  @media (max-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 16px;
    color: #ffffff;

    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      display: block;
    }
  }

}

.pagination-menu__search-input--scheme {
  @media (max-width: $tablet-width) {
    &:first-of-type {
      display: block;
      width: 80%;
      color: $text-color;
    }

    &:last-of-type {
      display: none;
    }
  }
}

.pagination-menu__scheme {
  position: relative;
  padding-left: 35px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: $text-color;
  line-height: 56px;
  vertical-align: middle;
  height: 56px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 24px;
    background-image: url("../img/icon-floor3.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00b2ff;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    display: none;


    &::before {
      content: "";
      position: absolute;
      left: 115px;
      width: 22px;
      height: 24px;
      background-image: url("../img/icon-floor3.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;

    &::after {
      left: 99px;
    }
  }
}

.pagination-menu__scheme--active::after {
  opacity: 1;
}

.pagination-menu__scheme span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
