.pagination {
  display: flex;
  justify-content: space-between;
  min-height: 56px;
  padding-right: 5.5%;
  padding-left: 5.5%;
  align-items: center;
  border-bottom: 1px solid $border;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    border-bottom: none;
  }
}

.pagination--main {
  border-bottom: none;
}

.pagination--scroll {
  position: fixed;
  top: 0;
  width: 89%;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 1px solid $border;

  @media (max-width: $tablet-width) {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
}

.pagination a {
  text-decoration: none;
  color: $text-color;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.pagination__item {
  margin-right: 16.5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;


  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: 1120px) {
    font-size: 14px;
  }
}

.pagination__item a {
  display: block;
  line-height: 1;
  padding-top: 21px;
  padding-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: #00aed6;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }
}

.pagination__search {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 190px;
  margin: 0;
  margin-left: 1.5%;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.pagination__scroll-icons {
  display: flex;
  height: 56px;
  margin: 0;
  margin-right: 90px;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.pagination__scroll-icons a {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.pagination__link {
  position: relative;
  margin-right: 16px;
  padding-left: 32px;

  &:last-of-type {
    margin-right: 0;
  }

  &--search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &--floor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-floor3.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &--shops {
    padding-bottom: 16px;
    border-bottom: 4px solid #00aed6;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.pagination__search-form {
  display: none;

  &::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 4%;
    z-index: 1;
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $tablet-width) {
    display: block;
    position: relative;
    width: 100%;
    height: 56px;
    padding-left: 5.5%;

    &::before {
      top: 17px;
    }
  }
}

.pagination__search-input {
  border-radius: 0;

  &:focus,
  &:hover {
    border-radius: 0;
    box-shadow: none;
    outline: none;
  }

  @media (max-width: $tablet-width) {
    display: block;
    position: relative;
    width: 100%;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 24px;
    line-height: 56px;
    border: none;
    cursor: pointer;
  }
}
