.schedule-wave {
  position: absolute;
  top: 115px;
  width: 100%;
  z-index: 10000;
  background: #00aed6;

  @media (max-width: $tablet-width) {
    top: 112px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -89px;
    z-index: -1;
    width: 100%;
    height: 110px;
    background-image: url("../img/wave-schedule.svg");
    background-repeat: repeat-x;
    background-size: cover;

    @media (min-width: 1160px) {
      bottom: -110px;
      height: 187px;
    }

    @media (min-width: 1900px) {
      bottom: -167px;
      height: 300px;
    }
  }

  @media (max-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}
