.schedule-info {
  position: relative;
  display: flex;
  max-width: 1024px;
  padding-top: 30px;
  padding-left: 5.5%;
  padding-right: 5.5%;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 21px;
    padding-left: 4%;
    padding-right: 4%;
  }
}

.schedule-info__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &:first-of-type {
    margin-right: 197px;
  }

  @media (max-width: $tablet-width) {
    &:first-of-type {
      margin-right: 0;
    }
  }
}

.schedule-info__item {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.schedule-info__link {
  position: relative;
  width: 100%;
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 500;
  line-height: 96%;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      width: 19px;
      height: 8px;
      padding-left: 35px;
      background-image: url("../img/icon-arrow-white.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.schedule-info__link--margin {
  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.schedule-info__span {
  padding: 7px;
  font-size: 12px;
  font-weight: 600;
  line-height: 108%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}
