.schedule-wave {
  position: absolute;
  top: 118px;
  width: 100%;
  z-index: 10000;
  background: #00aed6;

  @media (max-width: $tablet-width) {
    top: 116px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -73px;
    z-index: -1;
    width: 100%;
    height: 75px;
    background-image: url("../img/wave-bottom.svg");
    background-repeat: repeat-x;
    background-size: auto 75px;
  }

  @media (max-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}
