.scheme-menu {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: relative;
    margin-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 90px;
      width: 22px;
      height: 24px;
      background-image: url("../img/icon-floor3.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
