.schedule-closed {
  .schedule {
    display: none;
  }

  .schedule-main {
    display: none;
  }
}

.schedule-opened {
  position: fixed;
  width: 100%;
  height: 100%;


  @media (max-width: $tablet-width) {
    position: relative;
  }

  .site-navigation__user--scroll {
    @media (max-width: $tablet-width) {
      position: relative;
    }
  }

  .schedule {
    display: flex;
  }

  .schedule-main {
    display: block;
  }

  .pagination {
    display: none;
  }

  .pagination-menu--scheme {
    display: none;
  }

  .pagination-menu {
    display: none;
  }
}
