.services-menu {
  width: 44%;
  margin-right: 7%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.services-menu__list {
  &:first-of-type {
    width: 187px;
    margin-bottom: 42px;
    margin-right: 24px;
  }
}

.services-menu__list li {
  margin-bottom: 5px;
}

.services-menu__link:hover,
.services-menu__list:focus {
  color: #65aa0f;
}

.services-menu__item--height {
  line-height: 18px;
}
