.shop-menu {
  width: 44%;
  margin-bottom: 40px;
  margin-right: 7%;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.shop-menu--sitemenu {
  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.shop-menu__list:last-of-type li {
  margin-bottom: 5px;
}

.shop-menu__title {
  @media (max-width: $tablet-width) {
    display: flex;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 130px;
      align-content: center;
      width: 19px;
      height: 8px;
      background-image: url("../img/icon-arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.shop-menu__title--sitemenu::after {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.shop-menu__link:hover,
.shop-menu__link:focus {
  color: #65aa0f;
}
