.shop-info {
  width: 325px;

  border-radius: 5px;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.shop-info a {
  position: relative;
  display: block;
  padding-top: 22px;
  padding-bottom: 17px;
  padding-left: 48px;

  font-family: "MuseoSansCyrl", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #222222;
  text-decoration: none;

  border-bottom: 1px solid #E0E0E0;

  &:hover {
    color: #ffffff;
    background-color: #00AED6;
  }

  &:first-child {
    border-radius: 5px 5px 0 0;
  }

  &:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
  }
}

.shop-info span {
  position: absolute;
  top: 18px;
  left: 16px;
}

.shop-info span svg {
  fill: #7D7D7D;
}

.shop-info a:hover svg {
  fill: #ffffff;
}

@media (max-width: $mobile-width) {

  .shop-info {
    width: 100%;
  }
}
