.shops {
  background-color: #1EC1A4;
}

.shops__box {
  width: 1024px;
  margin: 0 auto;
}

.shops__box h2 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.shops__list {
  display: flex;
  flex-wrap: wrap;
}

.shops__button {
  margin-right: 8px;
  margin-bottom: 8px;
}
