.site-navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 5.5%;
  padding-right: 5.5%;
  border-bottom: 1px solid $border;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.site-navigation--scheme {
  @media (max-width: $tablet-width) {
    border: 0;
  }
}

.site-navigation__logo {
  position: relative;
  left: 0;
  width: 205px;
  display: block;
  padding-top: 18px;
  padding-bottom: 10px;

  @media (max-width: 1060px) {
    margin-right: 4%;
  }

  @media (max-width: $tablet-width) {
    padding-left: 4%;
  }

  @media (max-width: 340px) {
    margin-right: 2%;
  }
}

.site-navigation__logo--scheme {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.site-navigation__logo svg {
  @media (max-width: $tablet-width) {
    fill: #00b2ff;
  }
}

.site-navigation__info {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 108%;
  list-style: none;

  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    position: absolute;
    left: 50%;
    top: 300px;
    display: block;
    width: 328px;
    height: 227px;
    margin-left: -160px;
    padding: 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.08);
  }

  @media (max-width: 359px) {
    width: 320px;
  }

  &--scheme {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--shops {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.site-navigation__info--none {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.site-navigation__item {
  position: relative;
  margin-right: 61px;

  &:nth-of-type(3) {
    margin-right: 0;
  }

  &--address::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -35px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-address.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--clock::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -35px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-clock.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--phone::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -35px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--floor {
    display: none;
  }

  @media (max-width: 1120px) {
    font-size: 15px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    margin-right: 0;
    padding-left: 55px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border;

    &:last-of-type {
      border-bottom: none;
    }

    &--address::before {
      top: -4px;
      left: 15px;
    }

    &--clock::before {
      top: -4px;
      left: 15px;
    }

    &--phone::before {
      top: -4px;
      left: 15px;
    }

    &--floor {
      display: block;
    }

    &--floor::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 15px;
      width: 24px;
      height: 24px;
      background-image: url("../img/icon-floor3.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 18px;
    padding-left: 50px;
  }
}

.site-navigation__info a {
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 16px;
  }
}

.site-navigation__user {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width +1) {
    margin-right: -15px;
  }

  @media (max-width: $tablet-width) {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
}

.site-navigation__user--scheme {
  @media (max-width: $tablet-width) {
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.site-navigation__user--none {
  display: none;
}

.site-navigation__user a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: 350px) {
    padding: 0 12px;
  }
}

.site-navigation__user li {
  @media (max-width: $tablet-width) {
    border-left: 1px solid $border;
  }
}

.site-navigation__user--scheme li {
  @media (max-width: $tablet-width) {
    height: 56px;
  }
}

.site-navigation__link {
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.site-navigation__link--close svg {
  fill: #00aed6;

  @media (max-width: $tablet-width) {
    fill: #ffffff;
  }
}

.site-navigation__link--door {
  fill: #222222;

  @media (max-width: $tablet-width) {
    fill: #ffffff;
  }
}
