.slider {
  position: relative;
  width: calc(75% + 5px);
}

.slick-slide {
  outline: none;
  display: flex;
}

.store--services .slick-slide {
  display: block;
}

.slider .slick-slide {
  margin-left: 4px;
}

.slider__slid {
  outline: none;
}

.slider__button {
  position: absolute;
  top: 178px;

  width: 48px;
  height: 48px;
  font-size: 0;

  background-color: #ffffff;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.8;
  }
}

.slider__button--next {
  right: 20px;
}

.slider__button--prev {
  left: 10px;
}

.slider__arrow {
  fill: #00aed6;
}

.slider__button--prev .slider__arrow {
  transform: rotate(180deg);
}

.slider--shop {
  width: 100%;
}

.slider--shop .slider__list {
  width: 100%;
}

.slider--shop .slick-slide {
  margin-left: 8px;
}

.slider--shop .slider__button {
  top: 220px;
}

.slider--shop .slider__button--prev {
  left: 16px;
}

.slider--shop .slider__button--next {
  right: 16px;
}

@media (max-width: $tablet-width) {
  .slider {
    position: relative;
    width: 100%;
  }

  .slider__list {
    width: 100%;
  }

  .slider .slick-slide {
    margin-left: 4px;
  }

  .slider__button {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .slider .slick-slide {
    margin-left: 4px;
  }

  .slider .slick-slide img {
    height: 327px;
  }

  .slider--shop .slick-slide img {
    height: 268px;
  }
}
