.stocks-menu {
  width: 100%;
}

.stocks-menu__title {
  @media (max-width: $tablet-width) {
    position: relative;
    display: flex;

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 215px;
      align-content: center;
      width: 19px;
      height: 8px;
      background-image: url("../img/icon-arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.stocks-menu__paragraph {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 17px;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 118%;
  color: #7d7d7d;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.stocks-menu__form {
  display: flex;
  width: 105%;
  //width: 500px;
}

.stocks-menu__input {
  box-sizing: border-box;
  width: 85%;
  height: 48px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 108%;
  border: 1px solid $border;
  border-radius: 5px 0 0 5px;

  &:invalid {
    box-shadow: none;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.stocks-menu__button {
  height: 48px;
  padding: 1px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 108%;
  color: $complementary-color;
  border: 1px solid $border;
  border-left-style: none;
  border-radius: 0 5px 5px 0;
  background-color: #ffffff;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.stocks-menu__social {
  display: flex;
  width: 105%;
  //width: 500px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.stocks-menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  text-decoration: none;

  &--fb {
    background-image: url("../img/icon-f.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--vk {
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--inst {
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--od {
    background-image: url("../img/icon-ok.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.stocks-menu__app {
  width: 128px;
  height: 48px;
  margin-left: 10px;

  &--apple {
    background-image: url("../img/app-store.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--google {
    background-image: url("../img/google-play.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
