.store {
  margin-bottom: 61px;
  padding-left: 15px;
  padding-right: 15px;
}

.store--services {
  position: relative;
  margin-bottom: 0;
}

.store__box {
  max-width: 1024px;
  margin: 0 auto;
}

.store__box h2 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 48px;
  line-height: 44px;
  letter-spacing: 0.3px;
  hyphens: auto;
  color: #ffffff;
  word-break: break-word;
}

.store__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.store__button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.store__items {
  display: flex;
  flex-wrap: wrap;
}

.store__item {
  margin-right: 24px;
  margin-bottom: 24px;
}

.store__item:nth-child(4n) {
  margin-right: 0;
}

.store__container {
  display: flex;
  flex-direction: column;
  min-height: 172px;
}

.store--children h2 span:last-child {
  display: none;
}

.store--shop {
  margin-bottom: 40px;
}

.store--shop .card {
  border: 1px solid #E0E0E0;
}

.store--shop h2 {
  color: #222222;
}

@media (max-width: $tablet-width) {

  .store {
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .store__box {
    width: 100%;
  }

  .store h2 {
    margin-left: 24px;
    margin-bottom: 17px;
  }

  .store__list {
    margin-left: 24px;
  }

  .store__items {
    margin-left: 24px;
  }

  .store__item {
    width: 238px;
    margin-left: 24px;
    margin-right: 0;
  }

  .store__item .slick-slide {
    width: 238px;
    outline: none;
  }

  .store--services .slick-initialized .slick-slide {
    display: block;
  }

  .store--services .slick-list {
    margin-left: -24px;
  }

  .store--services .slick-slide {
    margin-left: 24px;
  }

  .store__container {
    display: flex;
    flex-direction: column;
    min-height: 172px;
  }
}

@media (max-width: $mobile-width) {

  .store {
    margin-bottom: 23px;
  }

  .store--shops .store__button:first-child,
  .store--services .store__button:first-child {
    order: 1;
  }

  .store--shops .store__button:nth-child(2) {
    display: none;
  }

  .store h2,
  .store__list,
  .store__items {
    margin-left: 16px;
  }

  .store h2 span:last-child {
    display: none;
  }

  .store--cinema .store__button:first-child {
    display: none;
  }

  .store--cinema .store__button span {
    display: none;
  }

  .store__list {
    margin-bottom: 12px;
    padding-right: 12px;
  }

  .store--cinema .store__list {
    margin-bottom: 13px;
  }

  .store--services .store__list {
    margin-bottom: 16px;
  }

  .store--shops .store__list a:nth-child(11) {
    width: 295px;
  }

  .store--services .store__list a:nth-child(2) {
    width: 270px;
  }

  .store__button {
    margin-right: 4px;
    margin-bottom: 4px;
    padding-bottom: 6px;
  }

  .store__item {
    width: 220px;
    margin-left: 16px;
    margin-right: 0;
  }

  .store__item .slick-slide {
    width: 220px;
  }

  .store--children h2 span:first-child {
    display: none;
  }

  .store--children h2 span:last-child {
    display: inline;
  }

  .store--services .slick-list {
    margin-left: -16px;
  }

  .store--services .slick-slide {
    margin-left: 16px;
  }

  .store--services .store__item {
    margin-bottom: 11px;
  }

  .store--services .store__container {
    min-height: 190px;
  }

  .store--shop h2 {
    width: 327px;
    margin-bottom: 13px;

    font-size: 36px;
    line-height: 39px;
  }
}
