.subscription {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;

  margin: 0 auto;
  margin-top: -2px;
  padding-top: 25px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;

  background-color: #ffffff;
  border-radius: 5px;

  box-sizing: border-box;
}

.subscription h3 {
  width: 275px;
  margin: 0;
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: -0.01em;
  hyphens: auto;
  color: #222222;
}

.subscription__email {
  width: 100%;
}

.subscription p {
  max-width: 630px;
  margin: 0;
  margin-bottom: 16px;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #7d7d7d;
}

.subscription__form {
  display: flex;
  margin-bottom: 16px;
  margin-right: 16px;
  max-width: 627px;
}

.subscription__form input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 16px;

  border: 1px solid #e0e0e0;
  border-radius: 5px 0 0 5px;

  box-sizing: border-box;

  &::placeholder {
    color: #7d7d7d;
  }
}

.subscription__button {
  width: 315px;
  padding-top: 15px;
  padding-bottom: 13px;

  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #00aed6;

  border: 1px solid #e0e0e0;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: transparent;

  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.subscription__social {
  margin-bottom: 24px;
}

.subscription__container:last-child {
  width: 278px;
}

.subscription__list,
.subscription__items {
  display: flex;

  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.subscription__list {
  flex-wrap: wrap;
}

.subscription__icon {
  width: 55px;
  height: 46px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.subscription__icon:hover,
.subscription__app:hover {
  opacity: 0.5;
}

.subscription__fb {
  margin-top: 12px;
  margin-left: 23px;
  fill: #3c5a99;
}

.subscription__vk {
  margin-top: 15px;
  margin-left: 13px;
  fill: #5181b8;
}

.subscription__od {
  margin-top: 11px;
  margin-left: 20px;
  fill: #f7931e;
}

.subscription__youtube {
  margin-top: 14px;
  margin-left: 15px;
}

.subscription__icon--inst {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 27px;
}

.subscription__icon--youtube {
  border-right: none;
  stroke: #e0e0e0;
  fill: #ff0000;
}

.subscription__app {
  height: 46px;
}

.subscription__app--apple {
  width: 136px;

  background-image: url("../img/app-store.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 92px 23px;
  border-right: 1px solid #e0e0e0;
}

.subscription__app--android {
  width: 142px;

  background-image: url("../img/google-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 24px;
}

@media (max-width: $tablet-width) {
  .subscription {
    margin-left: 24px;
  }

  .subscription__form {
    margin-right: 16px;
  }
}

@media (max-width: $mobile-width) {
  .subscription {
    display: none;
  }
}
