.technology {
  display: flex;
}

.technology p {
  margin: 0;
  padding: 7px 7px;
  margin-right: 9px;

  font-weight: 600;
  color: #aa0061;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  border: 0.5px solid #aa0061;
  border-radius: 5px;
}
