.wrapper-cinema {
  background-image: url("../img/background-purple-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 276px;

  @media (max-width: $tablet-width) {
    background-position-y: 200px;
  }
}
