.wrapper-menu {
  display: block;

  @media (max-width: $tablet-width) {
    min-height: 100vh;
    background-color: #222222;
  }

  @media (max-width: $mobile-width) {
    min-height: 150vh;
  }
}

.wrapper-menu--scheme {
  @media (max-width: $tablet-width) {
    height: 56px;
  }
}

.wrapper-menu--sitemenu {
  @media (max-width: $tablet-width) {
    background-color: #ffffff;
  }
}
