.wrapper-menu__open {
  display: block;

  @media (max-width: $tablet-width) {
    position: fixed;
    top: 114px;
    width: 100%;
    min-height: 100vh;
    background-color: #222222;
  }
}

.wrapper-menu__close {
  display: none;
}

.wrapper-menu--scheme {
  @media (max-width: $tablet-width) {
    height: 56px;
  }
}

.wrapper-menu--sitemenu {
  @media (max-width: $tablet-width) {
    background-color: #ffffff;
  }
}
