.wrapper-cinema {
  background-image: url("../img/background-purple-desktop1.svg");
  background-repeat: repeat-x;
  background-position-y: 240px;

  @media (max-width: $tablet-width) {
    background-position-y: 200px;
  }
}
